html {
    line-height: 1.5;
}    
body {
    font-family: 'Merriweather', serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: aquamarine;
}
div#main {
    max-width: 940px;
    margin: 25px auto;
}
footer#main {
    margin: 20px 0;
    font-size: 80%;
}
/* Post styling */
.post {
    margin: 20px 0;
    border-bottom: #c0c0c0 solid 1px;
}
.post-meta {
    color: #999999;
    font-size: 80%;
}
.post-meta .avatar {
    width: 48px;
    float: left;
    margin-right: 8px;
    border-radius: 50%;
}
.post-meta p {
    margin: 0;
    padding: 0;
}
.post h1 {
    font-size: 2em;
    margin: 0;
}
.post h1 a,
.post-meta a {
    text-decoration: inherit;
    color: inherit;
}
.post h1 a:hover,
.post-meta a:hover {
    text-decoration: underline;
}
.post-type {
    font-weight: bold;
}
.photo-padding {
    padding-left: 72px;
}
.author .photo {
    margin-left: -72px;
}
/* Standard HTML tags */
address {
    font-style: normal;
}

/* menu */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    overflow: hidden;
    background-color: #333;
}
.menu ul li {
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}
.menu ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0 4px;
    padding: 14px 16px;
}
.menu ul li a:hover {
    background-color: #111;
}
.menu ul li.active a {
    color: #d6e35f;
}
/* Site header */
.banner {
    padding: 0 25px;
}
.banner h1 {
    margin-bottom: 0;
}
.banner h1 a {
    color: inherit;
    text-decoration: inherit;
}
/* post */
.post header {
    margin-bottom: 10px;
}
.post footer {
    margin-top: 10px;
}
/* Paginator */
ul.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    overflow: hidden;
}
li.page-item {
    float: left;
    padding: .5em 1em;
    margin: 0 15px;
    text-align: center;
    background-color: white;
    border: darkgrey solid 1px;
}
li.page-item,
li.page-item a,
li.page-item a:link,
li.page-item a:hover {
    text-decoration: none;
}
footer ul.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
footer ul.footer-links li {
    margin: 0;
    padding: 0;
    flex: auto;
    text-align: center;
}
img.avatar {
    width: 128px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    margin: 4px 0;
}
header#main p {
    margin-top: 0;
}
.post-header {
    margin-bottom: 20px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.wrapper {
    padding: 0 25px;
}
.flex {
    display: flex;
}