<header class="post-header">
    <h1 class="p-name">
        <i class="fa fa-link fa-pull-right fa-border"></i>
        <a href='{{ .Permalink }}'>{{ .Title }}</a>
    </h1>
    {{ partial "post/type.html" . }}
    {{ partial "post/author.html" . }}
    <div class="post-meta">
        <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ .PublishDate.Format "Monday 2 January 2006" }}
        </a>
    </div>
    {{ if .Params.InReplyTo }}
    <div class="post-meta photo-padding">
        In reactie op <a class="u-in-reply-to" href="{{ .Params.InReplyTo }}">een bericht</a> van iemand.
    </div>
    {{ end }}
</header>