{{ with .Param "indieweb.bookmark" }}
{{ if .link }}
<p>
	{{ T "meta_bookmark_of" }}: <a class="u-bookmark-of" href="{{ .link }}" target="_blank" rel="noopener">{{ .title | default .link }}</a>
</p>
{{ end }}
{{ end }}
{{ with .Param "indieweb.reply" }}
{{ if .link }}
<p>
	{{ T "meta_reply_to" }}: <a class="u-in-reply-to" href="{{ .link }}" target="_blank" rel="noopener">{{ .title | default .link }}</a>
</p>
{{ end }}
{{ end }}
{{ with .Param "indieweb.like" }}
{{ if .link }}
<p>
	{{ T "meta_like_of" }}: <a class="u-like-of" href="{{ .link }}" target="_blank" rel="noopener">{{ .title | default .link }}</a>
</p>
{{ end }}
{{ end }}