{{ with .Params.SyndicateTo }}
<p>
    {{ i18n "meta_syndicate_to" }}:
    {{ range . }}
    <a  class="u-syndication" href="{{ . | safeURL }}">
        {{ $domain:= . | replaceRE "^https?://([^/]+).*" "$1" }}
        {{ if eq $domain "twitter.com" }}
        <i class="fa fa-twitter"></i>
        {{ else if eq $domain "instagram.com" }}
        <i class="fa fa-instagram"></i>
        {{ else if eq $domain "swarm.com" }}
        <i class="fa fa-foursquare"></i>
        {{ else }}
        <i class="fa fa-link"></i>
        {{ end }}
    </a>
    {{ end }}
</p>
{{ end }}