{{/* https://www.webfx.com/tools/emoji-cheat-sheet/ */}}
<p class="post-meta post-type">
    {{ if false }}
    {{ if eq .Type "note" -}}
    {{ emojify ":notebook_with_decorative_cover:" }}
    {{- else if eq .Type "article" -}}
    {{ emojify ":newspaper:" }}
    {{- else if eq .Type "bookmark" -}}
    {{ emojify ":bookmark:" }}
    {{- else if eq .Type "like" -}}
    {{ emojify ":heart:" }}
    {{- else if eq .Type "reply" -}}
    {{ emojify ":arrow_right_hook:" }}
    {{- else if eq .Type "repost" -}}
    {{ emojify ":recycle:" }}
    {{- else -}}
    {{ emojify ":page_facing_up:" }}
    {{- end }}
    {{else}}
    {{ if eq .Type "note" -}}
    <i class="fa fa-sticky-note fa-fw" ></i>
    {{- else if eq .Type "article" -}}
    <i class="fa fa-file fa-fw"></i>
    {{- else if eq .Type "bookmark" -}}
    <i class="fa fa-bookmark fa-fw"></i>
    {{- else if eq .Type "like" -}}
    <i class="fa fa-heart fa-fw"></i>
    {{- else -}}
    <i class="fa fa-file fa-fw"></i>
    {{- end }}
  
    {{end}}
    {{  .Type | i18n | lower }}
</p>