{{ define "main" }}
<main class="h-feed">
    <header>
        <h1 class="p-name">{{ .Title }}</h1><link class="u-url" href="{{ .Permalink | absURL }}">
        {{ .Content }}
    </header>
    {{ $pages := where .Pages "Params.hidden" "ne" true }}
    {{ $paginator := .Paginate $pages }}
    {{ range $paginator.Pages }}
        {{ .Render "summary" }}
    {{ end }}
    <nav>
        {{ template "_internal/pagination.html" . }}
    </nav>
    {{ partialCached "authorcard.html" . }}
</main>
{{ end }}