<article class="h-entry">
    <header>
        <h2 class="p-name">
            <a href='{{ .Permalink }}'>{{ .Title }}</a>
        </h2>
        <div class="h-card">
           {{ i18n "By"}} <a class="p-name u-url" href="{{ "/" | absURL }}">{{ .Site.Params.Author }}</a>
        </div>
    </header>
    {{ .Summary }}
    {{ if .Truncated }}
    <a href="{{ .Permalink }}">{{ i18n "readmore" }}</a>
    {{ end }}

    <footer>
        <div>
            <a class="u-url" href='{{ .Permalink }}'>
                <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                    {{ .PublishDate.Format "Mon 2 Jan 2006 at 15:04 MST" }}
                </time>
            </a>
        </div>
        <div>
            {{ if .Params.tags }}
            <ul>
                {{ range .Params.tags }}
                <li>
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="">
                        {{- . -}}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </footer>
</article>