<article class="post h-entry" id="post-{{ .Permalink | md5 }}">
    <header class="post-header">
        <h1 class="p-name">
            <a href='{{ .Permalink }}'>{{ .Title }}</a>
        </h1>
        <div class="post-meta">
            {{ partial "post-type-icon.html" . }}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
                {{ i18n "publishdate" . }}
            </a>
            <a class="p-author h-card" href="{{ .Site.Params.Author.URL }}"></a>
        </div>
    </header>
    <section class="p-summary">
    {{ .Summary }}
    </section>
    {{ if .Truncated }}<a href="{{ .RelPermalink }}">{{ i18n "readmore" }}</a>{{ end }}
    {{ partial "post/footer.html" . }}
</article>