{{ define "main" }}
<main class="h-feed">
    <header>
        <h1 class="p-name">
            {{- if eq .Kind "term" -}}
            {{- (i18n .Data.Singular | default .Data.Singular) | title -}}
            {{- print ": " -}}
            {{- end -}}    
            {{ .Title }}
        </h1>
        <link class="u-url" href="{{ .Permalink | absURL }}">
      {{ .Content }}
  </header>
  <ul>
  {{ $pages := where .Pages "Params.hidden" "ne" true }}
  {{ $paginator := .Paginate $pages }}
  {{ range $paginator.Pages }}
      {{ .Render "li" }}
  {{ end }}
  </ul>
  <nav>
      {{ template "_internal/pagination.html" . }}
  </nav>
</main>
{{ end }}