/* Internal pagination classes */

.pagination {
	list-style-type: none;
	margin: .5rem 0;
	padding: 0;
	overflow: visible;
	overflow: hidden;
	text-align: center;

	.page-item {
		// float: left;
		display: inline-block;
		padding: .5em;
		margin: .5em ;
		text-align: center;
		text-decoration: none;
		background-color: var(--accent-bg);
		border-color: var(--border);
		border-width: 1px;
		border-radius: 5px;
		border-style: solid;

		.page-link {
			text-decoration: none;

			&:link {
				text-decoration: none;
			}

			&:hover {
				text-decoration: underline;
			}
		}
		.disabled {
			// unstyled
		}
		.active {
			// unstyled
		}
	}
}