/* Post styling */
/* Standard HTML tags */
/* menu */
/* channels */
/* Site header */
/* post */
/* Paginator */
html {
	line-height: 1.5;
}
body {
	font-family: sans-serif;
	margin: 0 auto;
	max-width: 700px;
	padding: 10px;
}
h1 {
	a {
		color: #000;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
h2 {
	a {
		color: #000;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
address {
	font-style: normal;
}
article {
	border-radius: 5px;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	header {
		border-bottom: solid 1px #ccc;
		padding: 10px;
	}
	footer {
		padding: 5px 10px;
	}
	* {
		padding: 0 0;
	}
}
nav {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: visible;
		overflow: hidden;
		li {
			float: left;
			a {
				display: block;
				text-decoration: none;
				text-align: center;
			}
		}
	}
}
/* Post */
.post {
	margin: 20px 0;
	border-bottom: #c0c0c0 solid 1px;
	header {
		margin-bottom: 10px;
	}
	footer {
		margin-top: 10px;
	}
	h1 {
		font-size: 2em;
		margin: 0;
		a {
			text-decoration: inherit;
			color: inherit;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.post-header {
		margin-bottom: 20px;
		h1 {
			i {
				color: cornflowerblue;
			}
		}
	}
	.post-meta {
		color: #999999;
		font-size: 80%;
		p {
			margin: 0;
			padding: 0;
		}
		a {
			text-decoration: inherit;
			color: inherit;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.post-type {
		font-weight: bold;
	}
}

/* Main menu */
.menu {
	ul {
		background-color: #333;
		li {
			font-weight: bold;
			text-transform: uppercase;
			a {
				color: white;
				padding: 0 4px;
				padding: 14px 16px;
				&:hover {
					background-color: #111;
				}
			}
		}
		li.active {
			a {
				color: #d6e35f;
			}
		}
	}
}
/* Social menu */
.social {
	ul {
		li {
			a {
				color: #000;
			}
		}
	}
}
.channels {
	ul {
		margin: 4px 0;
		padding: 4px 0;
		li {
			a {
				color: #000;
				padding: 0 4px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		li.active {
			a {
				color: #d6e35f;
			}
		}
	}
}
/* Pagination */
ul.pagination {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: visible;
	overflow: hidden;
}
li.page-item {
	float: left;
	padding: .5em 1em;
	margin: 0 15px;
	text-align: center;
	background-color: white;
	border: darkgrey solid 1px;
	text-decoration: none;
	a {
		text-decoration: none;
		&:link {
			text-decoration: none;
		}
		&:hover {
			text-decoration: none;
		}
	}
}
/* Main header and footer */
footer#main {
	font-size: .8em;
	margin-top: 3em;
	ul.footer-links {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
footer {
	ul.footer-links {
		li {
			margin: 0;
			padding: 0;
			flex: auto;
			text-align: center;
		}
	}
}
header#main {
	h1 {
		margin: 0;
	}
	p {
		margin: 0;
	}
}

/* Generic utility classes */
.left {
	float: left;
}
.right {
	float: right;
}
.clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}
.flex {
	display: flex;
}

@mixin clearfix {
	display: block;
	&::after {
		display: block;
		height: 0;
		padding: 0;
		margin: 0;
		clear: both;
		line-height: 0;
		visibility: hidden;
		content: "";
	}
}

/* Authorcard */
.author-card {
	@include clearfix;
	line-height: 1.5;
	display: block;
	.author-photo {
		float: left;
		margin: 0 25px 0 0;
		height: 130px;
		width: 130px;
		img {
			border-radius: 50%;
			border-style: solid;
			border-width: 1px;
			border-color: #ccc;
		}
	}
	.author-header {
		margin-bottom: 10px;
	}
	.author-name {
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 700;
	}
}
