@import 'normalize';
@import 'variables';
@import 'pagination';

@mixin clearfix {
	display: block;

	&::after {
		display: block;
		height: 0;
		padding: 0;
		margin: 0;
		clear: both;
		line-height: 0;
		visibility: hidden;
		content: "";
	}
}

html {
	font-family: var(--sans-font);
	font-size: 1.4rem;
	background-color: var(--bg);
	line-height: 1.5rem;
}
body > header {
	background-color: var(--accent-bg);
}
body > header h1 {
	margin: 0;
}
main.main {
	max-width: 800px;
	margin: 0 auto;
}
/* ---------- CLASS-LESS CSS ---------- */

header > nav {
	a {
		background-color: var(--bg);
	}
}

h1 {
	a {
		&:any-link {
			color: var(--text);
			text-decoration: none;
		}
	}
}

article {
	h2 {
		a {
			color: var(--text) !important;
			text-decoration: none;
			&:link {
				text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}

		}
	}
	header,
	footer {
		font-size: .9rem;
	}
}

nav a,
a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  transition: none;
}

/* ---------- Generic utility classes ---------- */
.left {
	float: left;
}
.right {
	float: right;
}
.flex {
	display: flex;
}
