{{ with $.Site.Author }}
<div class="author-card h-card hcard">
    {{ if .photo }}
    <figure class="author-photo">
        <img class="u-photo" alt="{{ .name }}" src="{{ .photo | relURL }}">
    </figure>
    {{ end }}
    {{ if .name }}
	<div class="author-header">
		<span class="author-name">
            {{ T "authorcard_name" }}
            {{ if .url }}
                <a href="{{ .url }}" class="p-name u-url" rel="me">{{ .name }}</a>
            {{ else }}
                <span class="p-name">{{ .name }}</span>
            {{ end }}
        </span>
	</div>
	{{ end }}
	{{ with .note }}
	<div class="p-note">
		{{ . | safeHTML }}
	</div>
	{{ end }}
</div>
{{ end }}