<header id="main">
    <h1><a href={{ "/" | absURL }}>{{ .Site.Title }}</a></h1>
    {{ with .Site.Params.Description }}<p><cite>{{ . | safeHTML }}</cite></p>{{ end }}
    <nav class="menu">
        <ul class="list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li class="item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
        {{ end }}
        </ul>
    </nav>
</header>