<footer>
    <div class="post-meta">
        <p>
            <a class="url u-url" href="{{ .Permalink }}" title="" rel="bookmark">
                <time class="post-date updated published dt-updated dt-published" datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" itemprop="dateModified datePublished">
                    {{ .PublishDate.Format "Mon 2 Jan 2006 at 15:04 MST" }}
                </time>
            </a>
        </p>
        {{ if .Params.tags }}
        <p>
            {{ range .Params.tags }}
            #<a class="p-category" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" >{{- . -}}</a>
            {{ end }}
        </p>
        {{ end }}
    </div>
    {{ with .Params.syndicate_to }}
    <div class="post-meta">
        {{ range . }}
        <a href="{{ . | safeURL }}">
            {{ $domain:= . | replaceRE "^https?://([^/]+).*" "$1" }}
            {{ if eq $domain "twitter.com" }}
            <i class="fab fa-twitter"></i>
            {{ else if eq $domain "instagram.com" }}
            <i class="fab fa-instagram"></i>
            {{ else if eq $domain "swarm.com" }}
            <i class="fab fa-foursquare"></i>
            {{ else }}
            <i class="fas fa-globe"></i>
            {{ end }}
        </a>
        {{ end }}
    </div>
    {{ end }}
</footer>