{{ define "main" }}
<main class="h-feed">
    {{ if or (.Title) (.Content) }}
    <header>
        {{ with .Title }}<h1>{{ . }}</h1>{{end}}<link class="u-url" href="{{ .Permalink | absURL }}">
        {{ .Content }}
    {{ end }}
    </header>
    <section>
        {{ partial "authorcard.html" . }}
    </section>
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
    {{ range $paginator.Pages }}
    {{ .Render "summary" }}
    {{ end }}
    <nav class="pagination">
        {{- template "_internal/pagination.html" . -}}
    </nav>
</main>
{{ end }}