{{ define "main" }}
{{ if .Title }}
<header>
    <h1>{{ .Title }}</h1>
</header>
{{ end }}
{{ if .Content }}
<section>
    {{ .Content }}
</section>
{{ end }}
<section class="h-feed">
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
    {{ range $paginator.Pages }}
    {{ .Render "summary" }}
    {{ end }}
    <nav class="pagination">
        {{- template "_internal/pagination.html" . -}}
    </nav>
</section>
{{ end }}