{{ define "main" }}
<main class="h-feed">
    {{ if or (.Title) (.Content) }}
    <div>
        {{ with .Title }}<h1>{{ . }}</h1>{{end}}<link class="u-url" href="{{ .Permalink | absURL }}">
        {{ .Content }}
    {{ end }}
    </div>
    {{ $pages := where ( where site.RegularPages "Type" "in" site.Params.mainSections ) "Params.hidden" "ne" true }}
    {{ $paginator := .Paginate $pages }}
    {{ range $paginator.Pages }}
    {{ .Render "summary" }}
    {{ end }}
    <nav class="pagination">
        {{- partial "pagination" . -}}
    </nav>
</main>
{{ end }}